:root{
   --silver:#d9d9d9;
   --tree:#007256;
   --sea:#2458af; /*#0065b1;*/
   --coffee:#2e271a;
   --orange:#ce3500;
   --lemon:#e3b202;
   --apple:#a6001a;

   /*spms*/
   --orangeYellow:#f8a300;
   --insigniaRed1:#901E1D;
   --insigniaRed2:#901E1D;
   --bgSPMS:#fbe9e9;

   /*pis*/
   --armyBlue1:#225277;
   --armyBlue2:#1d4463;
   --bgPIS:#D9E0E8;

   --bgGray1:#f3f1f3;
   --bgGray2:#d9d7da;
   --bgGray3:#cccace;
   --bgGray4:#bfbdc2;

   --bgTree2:#007256;
   --bgTree1:#009973;

   /*
   --MainColor1:var(--armyBlue1);
   --MainColor2:var(--armyBlue2);
   --MainBG    :var(--bgPIS);
   */
   
   --MainColor1:||maincolor1||;
   --MainColor2:||maincolor2||;
   --MainBG    :||mainbg||;
   
   --fontSize:11pt;
   --fontFamily:Segoe UI,Helvtica,Arial,Verdana;

   --btn-radius:           0px;
   --btn-sea-color2:       var(--sea);
   --btn-sea-color1:       #0082e6;

   --btn-red-color2:       var(--apple);
   --btn-red-color1:       #ff0026;

   --btn-lemon-color2:     var(--lemon);
   --btn-lemon-color1:     #fdd74e;

   --btn-def-color:        #e0e5eb;
   --btn-tree-color:       var(--tree);
   --btn-orange-color:     #ce3500;


   --btn-choco-color:      #4c4a3c;

   --btn-h-orange-color:   #dc4a00;
   --btn-h-sea-color:      #009dff;
   --btn-h-def-color:      #adbbcc;
   --btn-h-red-color:      #901e1d;
   --btn-h-tree-color:     #2f9254;
   --btn-h-lemon-color:    #fdd906;
   --btn-h-choco-color:    #7b6b4f;

   --theme-panel-radius:   0px;
   --theme-panel-bg:       #fefefe;
   --theme-readonly-bg:    #e6e6e6;
   --theme-panel-top-bg2:  var(--MainColor2);
   --theme-panel-top-bg1:  var(--MainColor1);

   --theme-font:           #fff;
   --theme-bg:             var(--theme-panel-top-bg2);
   /*#122b3e; */
   --theme-bg-light:       var(--theme-panel-top-bg1); /*Hover*/
   /*#17374f;*/

   --LiteBG:#fbfbfb;
   --DarkBG:#363848;

   --theme-border-radius:  0px;
   --theme-border-color:   #e6e6e6;
   --theme-tblbg:          #a2a7ad;
   --theme-tblrowodd:      #d9d9d9;
   --theme-tblroweven:     #e6e6e6;
   --theme-tblbordercolor: #47484a;
   --grid_padding_td:      2px;

   --border:#bbb;
   --theme-fontcolor:var(--theme-panel-top-bg2);
   --bgHover1:;
   --bgHover2:;

}

body {
   background:var(--MainBG);
   color:var(--theme-panel-top-bg2);
   font-size:var(--fontSize);
   font-family:var(--fontFamily);
   margin:0;
   padding:0;
}

.spmsBody {
   background:#fff;
   color:var(--insigniaRed);
}

.full-height {
   height: 100vh;
}

.flex-center {
   align-items: center;
   display: flex;
   justify-content: center;
}

.parentBadge-sea {border-radius:5px;padding:8px;padding-bottom:12px;background:var(--sea);color:white;font-size:var(--fontSize);font-weight:500;margin-right:5px;}
.childBadge-sea {padding:4px;padding-left:10px;padding-right:10px;background:white;color:var(--sea);font-size:var(--fontSize);font-weight:600;margin-left:5px;}

.parentBadge-tree {border-radius:5px;padding:8px;padding-bottom:12px;background:var(--tree);color:white;font-size:var(--fontSize);font-weight:500;margin-right:5px;}
.childBadge-tree {padding:4px;padding-left:10px;padding-right:10px;background:white;color:var(--tree);font-size:var(--fontSize);font-weight:600;margin-left:5px;}

.parentBadge-silver {border-radius:5px;padding:8px;padding-bottom:12px;background:var(--silver);color:#666;font-size:var(--fontSize);font-weight:500;margin-right:5px;}
.childBadge-silver {padding:4px;padding-left:10px;padding-right:10px;background:white;color:#333;font-size:var(--fontSize);font-weight:600;margin-left:5px;}

.counts-- {
  border:2px solid #fff;
  border-radius:10px;padding:10px;background:white;
  transition: all 0.9s ease 0s;
}
.counts--:hover {
  -moz-box-shadow:    inset 0 0 8px #000;
  -webkit-box-shadow: inset 0 0 8px #000;
  box-shadow:         inset 0 0 8px #000;
  border-radius:30px;
  cursor:pointer;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
}
.counts--:active {
   background:#000;
   border:2px solid #fff;
}


.menu {
   font-weight:500;
   color:white;
   width:120px;
   text-align:center;
}
.menu:hover {
   background-color:#66ccff;
}
.margin-top10  {margin-top:10px;}
.margin-top20  {margin-top:20px;}
.margin-top30  {margin-top:30px;}
.margin-top40  {margin-top:40px;}
.margin-top50  {margin-top:50px;}
.margin-top    {margin-top:5px;}
.margin10      {margin:10px;}
.margin20      {margin:20px;}
.margin30      {margin:30px;}
.margin0       {margin:0px;}
.padd0         {padding:0px;}
.padd5         {padding:5px;}
.padd10        {padding:10px;}
.padd15        {padding:15px;}

.strong        {font-weight:600;}
.border-r      {border:1px solid red;}
.border-g      {border:1px solid green;}
.border-b      {border:1px solid blue;}
.border-y      {border:1px solid yellow;}
.bg1           {background:#a9b7b9;}
.border-round {
   border-radius:5px;
   border:1px solid var(--border);
}


.font8  {font-size:8pt}
.font9  {font-size:9pt}
.font10 {font-size:10pt}
.font11 {font-size:11pt}
.font12 {font-size:12pt}
.font13 {font-size:13pt}
.font14 {font-size:14pt}

.fontB8  {font-weight:600;font-size:8pt}
.fontB9  {font-weight:600;font-size:9pt}
.fontB10 {font-weight:600;font-size:10pt}
.fontB11 {font-weight:600;font-size:11pt}
.fontB12 {font-weight:600;font-size:12pt}
.fontB13 {font-weight:600;font-size:13pt}
.fontB14 {font-weight:600;font-size:14pt}

.loader {
   margin-top:10%;
   background:white;
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

}
.menutxt {
   color : var(--theme-font);
   width : 120px;
   text-align : center;
}

.date--, .number-- {
   min-width:80px;
   text-align:center;
}
.decimal-- {
   text-align:right;
}

.link, a {
   font-size:var(--fontSize);
   font-weight:600;
   text-decoration:none;
   color:#000;
}
.link:hover {
   text-decoration:none;
   color:#00f;
}

.li-menu {
   background-color: transparent;
}
.li-menu:hover {
   background-color: transparent;
}

.page-header {
   background-color: var(--theme-bg);
}
.page-footer {
   background-color: var(--theme-bg);
   padding: 10px;
   color: var(--theme-font);
   box-shadow: 0px 0px 10px #888
}

.innerShadow {
   -moz-box-shadow:    inset 0 0 10px var(--border);
   -webkit-box-shadow: inset 0 0 10px var(--border);
   box-shadow:         inset 0 0 10px var(--border);
}

.txtPress {
   color:#17364f;
   text-shadow:0px 2px 3px var(--theme-panel-top-bg1);
   font-weight:600;
}

.txtEmbossed {

}


.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.cellRefId {
   text-align:center;
   color:#fff;
   width:50px;
   font-weight:600;
   background:var(--DarkBG);
   padding:0px;
}
.cellAction {
   width:100px;
   text-align:center;
   padding:0px;
}
.cellGrid {
   padding:0px;
}
.gridTable_th {
   text-align:center;
   color:#fff;
   font-weight:600;
   background:var(--DarkBG);
}
.gridTable_td {
}
.divRefid {
   border-radius:5px;
   padding:5px;
   background:var(--theme-bg);
   border:1px solid #a2a7ad;
   background-color:#fff;
   color:#000;
   font-size:var(--fontSize);
}
.obj-left {float:left;}
.obj-right {float:right;}


.form-input {
   padding:3px;
   width:100%;
   background-color:#ffffff;
   border:1px solid #000;
   color:#000;
   font-size:var(--fontSize);
}

.form-disp {
   padding:3px;
   width:100%;
   background-color:#eeeeee;
   border:1px solid #000;
   color:#444;
   font-size:var(--fontSize);
   cursor:not-allowed;
}
div.dataTables_filter input {
   border-radius:3px;
   padding:2px;
   padding-left:5px;
   width:50%;
   border:1px solid #a2a7ad;
   background-color:#fff;
   color:#000;
   font-size:var(--fontSize);
}
div.dataTables_length label {
   width:250px;
}
div.dataTables_length select {
   border-radius:3px;
   padding:2px;
   padding-left:5px;
   width:20%;
   border:1px solid #a2a7ad;
   background-color:#fff;
   color:#000;
   font-size:var(--fontSize);
}
.form-input-viewonly{
   border-radius:3px;
   padding:2px;
   padding-left:5px;
   width:90%;
   border:1px solid #a2a7ad;
   background-color:var(--theme-readonly-bg);
   color:#000;
   font-weight:600;
}
input.form-input-viewonly:-moz-read-only {
   background-color:var(--theme-readonly-bg);
   color:#000;
   cursor:not-allowed;
}
input.form-input-viewonly:read-only {
   background-color:var(--theme-readonly-bg);
   color:#000;
   cursor:not-allowed;
}

input.form-input:-moz-read-only {
   background-color:var(--theme-readonly-bg);
   color:#444;
   cursor:not-allowed;
}
input.form-input:read-only {
   background-color:var(--theme-readonly-bg);
   color:#444;
   cursor:not-allowed;
}

input.form-input-rad,
input.form-input-chk {
   margin-left:20px;
   width:20px;
}

.label {
   font-weight:500;
   color:#000;
   font-size:var(--fontSize);
   text-align:right;
}

.form-input:focus {
   /*border:1px solid var(--theme-bg);*/
   border:1px solid #3f4f5a;
   color:#fff;
   font-weight:500;
   background:#7b93a3;
}

.mytable {
   width:100%;
   background:var(--theme-tblbg);
   border-collapse: collapse;
   border-spacing: 1px 1px;
   font-family:var(--fontfam-scr);
}

.table-hdr > th {
   padding:2px;
   text-align:center;
   background:var(--theme-tblbordercolor);
   color:white;
   font-family:var(--fontfam-scr);
   font-size:12px;
   border:1px solid #000;
}

.table-dtl > td {
   padding:2px;
   font-size: 11px;
   border:1px solid #000;
}

.table-dtl:hover {
   background:gray;
   color:#fff;
}

tr.table-dtl:nth-child(even) {background: var(--theme-tblroweven);}
tr.table-dtl:nth-child(odd)  {background: var(--theme-tblrowodd);}
tr.table-dtl:first-child     {background: var(--theme-tblbg);}
tr.table-dtl:last-child      {background: var(--theme-tblbordercolor);}

.table-ftr > td {
   padding:3px;
}

.table-ftr {
   padding:2px;
   text-align:center;
   background:var(--theme-tblbordercolor);
   color:white;
   font-family:var(--fontfam-scr);
   font-size:12px;
   font-weight:600;
   border:1px solid var(--theme-tblbordercolor);
}

.txt-left   {text-align:left;}
.txt-center {text-align:center;}
.txt-right  {text-align:right;}
.float-r    {float:right;}
.float-l    {float:left;}
.shadow     {box-shadow:0px 0px 10px #333;}
.border     {border:1px solid red;}
.border0    {border:0px solid transparent;}
.border1    {border:1px solid var(--border);}
.border2    {border:2px solid var(--theme-bg);}

.trans {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.title-trans-bottom {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding:10px;
  position:absolute;
  bottom:0px;
  left:0px;
  color:#fff;
  background-color:#000;
}

.title-trans-top {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding:10px;
  position:absolute;
  top:0px;
  left:0px;
  color:#fff;
  background-color:#000;
}

.titlebar {
   background-color:var(--theme-bg);
   color:var(--theme-font);
   padding:5px;
   font-weight:600;
}

.setbg {
   background-color:var(--theme-bg);
   color:var(--theme-font);
   font-weight:600;
}


.titlebar-light {
   background-color:var(--theme-readonly-bg);
   color:var(--theme-bg);
   padding:5px;
   font-weight:600;
}
/*----------
   PANEL
------------*/
.panel-normal {
   color:var(--theme-font-dark);
   font-weight:400;
   border:1px dotted #cbcbcb;
}
.mypanel,.panel-default{
   border-radius:0;
   margin:0;
   padding:0;
}

.panel-default > .panel-heading {
  background-color: var(--theme-bg);
  color:var(--theme-font);
  padding:5px;
  padding-left:10px;
  padding-bottom:8px;
  font-weight:600;
}
.panel-top {
   background: var(--theme-panel-top-bg1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2)); /* Standard syntax */
   color:#ffffff;
   padding:6px;
   padding-left:10px;
   font-weight:600;
   font-size:var(--fontSize);
   border-top:0px solid var(--theme-panel-top-bg1);
   border-left:0px solid var(--theme-panel-top-bg1);
   border-right:0px solid var(--theme-panel-top-bg1);
}
.panel-mid {
   background:#ffffff;
   color:var(--theme-bg);
   border-bottom:1px solid var(--border);
   border-left:1px solid var(--border);
   border-right:1px solid var(--border);
}
.panel-mid-darkbg {
   background-color:var(--DarkBG);
   color:#ffffff;
   border-bottom:1px solid var(--border);
   border-left:1px solid var(--border);
   border-right:1px solid var(--border);
}
.panel-mid-litebg {
   background-color:var(--LiteBG);
   color:var(--theme-bg);
   border-bottom:1px solid var(--border);
   border-left:1px solid var(--border);
   border-right:1px solid var(--border);
}
div[class*='panel-mid'] {
   padding:5px;
   font-weight:400;
   min-height:100px;
}
.panel-bottom {
   background-color:var(--theme-panel-bg);
   color:var(--theme-bg);
   border-bottom:1px solid var(--border);
   border-left:1px solid var(--border);
   border-right:1px solid var(--border);
}
.panel-bottom-darkbg {
   background-color:var(--DarkBG);
   color:#ffffff;
   border-bottom:1px solid #153153;
   border-left:1px solid #153153;
   border-right:1px solid #153153;
}
.panel-bottom-litebg {
   background-color:var(--LiteBG);
   color:var(--theme-bg);
   border-bottom:1px solid var(--border);
   border-left:1px solid var(--border);
   border-right:1px solid var(--border);
}

div[class*='panel-bottom'] {
   padding:5px;
   padding-left:10px;
   font-weight:600;
}

.gridTable_th {
   background-color:#ccd2c9;
   color:#444;
}
.btn-theme4 {
   border-radius:3px;
   border:1px solid var(--theme-bg);
   background-color: var(--theme-bg);
   padding:4px;
   color:var(--theme-bg-light);
}
.btn-theme4:hover {
   border:1px solid var(--theme-bg2);
   background-color: var(--theme-bg2);
}

.alert{width:100%;margin-bottom:5px;}

.alert-warn-top {
   background-color:var(--btn-h-red-color);
   color:#fff;
   padding:7px;
   font-weight:600;
   border-top-right-radius:5px;
   border-top-left-radius:5px;
}
.alert-warn-msg {
   background-color:#efefef;
   color:var(--btn-h-red-color);
   border:1px solid var(--btn-h-red-color);
   padding-right:25px;
   padding-left:25px;
   padding-top:5px;
   padding-bottom:5px;
   border-bottom-right-radius:5px;
   border-bottom-left-radius:5px;
}

.alert-info-top {
   background-color:var(--btn-h-tree-color);
   color:#fff;
   padding:7px;
   font-weight:600;
   border-top-right-radius:5px;
   border-top-left-radius:5px;
}

.alert-head {
   background-color:#f8a300;
   color:#fff;
   font-family:arial;
   font-size:var(--fontSize);
   font-weight:600;
   padding:10px;
}

.alert-body {
   background-color:#1c1d22;
   color:#fff;
   font-family:Arial;
   font-size:var(--fontSize);
   font-weight:400;
   padding:10px;
}

.alert-danger-top {
   background-color:#ffff00;
   border:7px solid #000;
   color:#000;
   padding:7px;
   font-weight:600;
   font-family:12pt;
   width:50%;
   border-top-right-radius:5px;
   border-top-left-radius:5px;
}
.alert-danger-msg {
   background-color:#000;
   color:#ffff00;
   padding-right:25px;
   padding-left:25px;
   padding-top:5px;
   padding-bottom:5px;
   width:50%;
   border-bottom-right-radius:5px;
   border-bottom-left-radius:5px;
   font-family:11pt;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: var(--theme-bg);
  color:#fff;
  text-align: center;
}

.btn-cls2-orange {font-size:9pt;border:1px groove var(--btn-orange-color);background-color:var(--btn-orange-color);padding:3px;}
.btn-cls4-orange {font-size:10pt;border:1px groove var(--btn-orange-color);background-color:var(--btn-orange-color);padding:6px;}
.btn-cls6-orange {font-size:12pt;border:1px groove var(--btn-orange-color);background-color:var(--btn-orange-color);padding:9px;}

.btn-cls2-lemon  {font-size:9pt;border:1px groove var(--btn-lemon-color);background-color:var(--btn-lemon-color);padding:3px;}
.btn-cls4-lemon  {font-size:10pt;
                  border:1px groove var(--btn-lemon-color1);
                  padding:6px;
                  background: var(--btn-lemon-color1); /* For browsers that do not support gradients */
                  background: -webkit-linear-gradient(var(--btn-lemon-color1), var(--btn-lemon-color2)); /* For Safari 5.1 to 6.0 */
                  background: -o-linear-gradient(var(--btn-lemon-color1), var(--btn-lemon-color2)); /* For Opera 11.1 to 12.0 */
                  background: -moz-linear-gradient(var(--btn-lemon-color1), var(--btn-lemon-color2)); /* For Firefox 3.6 to 15 */
                  background: linear-gradient(var(--btn-lemon-color1), var(--btn-lemon-color2)); /* Standard syntax */}
.btn-cls6-lemon  {font-size:12pt;border:1px groove var(--btn-lemon-color);background-color:var(--btn-lemon-color);padding:9px;}

.btn-cls2-choco  {font-size:9pt;border:1px groove var(--btn-choco-color);background-color:var(--btn-choco-color);padding:3px;}
.btn-cls4-choco  {font-size:10pt;border:1px groove var(--btn-choco-color);background-color:var(--btn-choco-color);padding:6px;}
.btn-cls6-choco  {font-size:12pt;border:1px groove var(--btn-choco-color);background-color:var(--btn-choco-color);padding:9px;}

.btn-cls2-tree   {font-size:9pt;border:1px groove var(--btn-tree-color);background-color:var(--btn-tree-color);padding:3px;}
.btn-cls4-tree   {font-size:10pt;border:1px groove var(--btn-tree-color);background-color:var(--btn-tree-color);padding:6px;}
.btn-cls6-tree   {font-size:12pt;border:1px groove var(--btn-tree-color);background-color:var(--btn-tree-color);padding:9px;}

.btn-cls2-red    {font-size:9pt;border:1px groove var(--btn-red-color);background-color:var(--btn-red-color);padding:3px;}
.btn-cls4-red    {font-size:10pt;
                  border:1px groove var(--btn-red-color1);
                  padding:6px;
                  background: var(--btn-red-color1); /* For browsers that do not support gradients */
                  background: -webkit-linear-gradient(var(--btn-red-color1), var(--btn-red-color2)); /* For Safari 5.1 to 6.0 */
                  background: -o-linear-gradient(var(--btn-red-color1), var(--btn-red-color2)); /* For Opera 11.1 to 12.0 */
                  background: -moz-linear-gradient(var(--btn-red-color1), var(--btn-red-color2)); /* For Firefox 3.6 to 15 */
                  background: linear-gradient(var(--btn-red-color1), var(--btn-red-color2)); /* Standard syntax */}

.btn-cls6-red    {font-size:12pt;border:1px groove var(--btn-red-color);background-color:var(--btn-red-color);padding:9px;}

.btn-cls2-sea    {font-size:9pt;border:1px groove var(--btn-sea-color);background-color:var(--btn-sea-color);padding:3px;}
.btn-cls4-sea    {font-size:10pt;
                  background: var(--btn-sea-color1); /* For browsers that do not support gradients */
                  background: -webkit-linear-gradient(var(--btn-sea-color1), var(--btn-sea-color2)); /* For Safari 5.1 to 6.0 */
                  background: -o-linear-gradient(var(--btn-sea-color1), var(--btn-sea-color2)); /* For Opera 11.1 to 12.0 */
                  background: -moz-linear-gradient(var(--btn-sea-color1), var(--btn-sea-color2)); /* For Firefox 3.6 to 15 */
                  background: linear-gradient(var(--btn-sea-color1), var(--btn-sea-color2)); /* Standard syntax */
                  border:1px groove var(--btn-sea-color2);
                  padding:6px;}
.btn-cls6-sea    {font-size:12pt;border:1px groove var(--btn-sea-color);background-color:var(--btn-sea-color);padding:9px;}

.btn-cls2-def    {font-size:9pt;border:1px groove var(--btn-def-color);background-color:var(--btn-def-color);padding:3px;color:#000;}
.btn-cls4-def    {font-size:10pt;
                  border:1px groove var(--btn-def-color);background-color:var(--btn-def-color);padding:6px;color:#000;}
.btn-cls6-def    {font-size:12pt;border:1px groove var(--btn-def-color);background-color:var(--btn-def-color);padding:9px;color:#000;}


button[class*="btn-cls"] {
   border-radius:var(--btn-radius);
   font-family:var(--fontFamily);
   padding-left:15px;
   padding-right:15px;
   min-width:40px;
   color:#fff;
   font-weight:500;
   transition: all 0.9s ease 0s;
   margin-right:2px;
}

.btn-cls2-orange:enabled:hover {background-color:var(--btn-h-orange-color);}
.btn-cls4-orange:enabled:hover {background-color:var(--btn-h-orange-color);}
.btn-cls6-orange:enabled:hover {background-color:var(--btn-h-orange-color);}

.btn-cls2-lemon:enabled:hover  {background-color:var(--btn-h-lemon-color);}
.btn-cls4-lemon:enabled:hover  {background-color:var(--btn-h-lemon-color);}
.btn-cls6-lemon:enabled:hover  {background-color:var(--btn-h-lemon-color);}

.btn-cls2-choco:enabled:hover  {background-color:var(--btn-h-choco-color);}
.btn-cls4-choco:enabled:hover  {background-color:var(--btn-h-choco-color);}
.btn-cls6-choco:enabled:hover  {background-color:var(--btn-h-choco-color);}

.btn-cls2-tree:enabled:hover   {background-color:var(--btn-h-tree-color);}
.btn-cls4-tree:enabled:hover   {background-color:var(--btn-h-tree-color);}
.btn-cls6-tree:enabled:hover   {background-color:var(--btn-h-tree-color);}

.btn-cls2-red:enabled:hover    {background-color:var(--btn-h-red-color);}
.btn-cls4-red:enabled:hover    {background-color:var(--btn-h-red-color);}
.btn-cls6-red:enabled:hover    {background-color:var(--btn-h-red-color);}

.btn-cls2-sea:enabled:hover    {background-color:var(--btn-h-sea-color);}
.btn-cls4-sea:enabled:hover    {background-color:var(--btn-h-sea-color);}
.btn-cls6-sea:enabled:hover    {background-color:var(--btn-h-sea-color);}

.btn-cls2-def:enabled:hover    {background-color:var(--btn-h-def-color);}
.btn-cls4-def:enabled:hover    {background-color:var(--btn-h-def-color);}
.btn-cls6-def:enabled:hover    {background-color:var(--btn-h-def-color);}

button[class*="btn-cls"]:enabled:hover {
   /*box-shadow: 0px 0px 10px #888;*/
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
button[class*="btn-cls"]:active {
   background: var(--bgGray1);
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: linear-gradient(var(--bgGray1), var(--bgGray2));
   color:#333;
}
i[class*="fa"] {
   font-size:13pt;
}
.msidebar {
   font-size:20pt;
}

.form-input:disabled,
.btn-theme4:disabled,
.btn-cls2-choco:disabled,.btn-cls4-choco:disabled,.btn-cls6-choco:disabled,
.btn-cls2-lemon:disabled,.btn-cls4-lemon:disabled,.btn-cls6-lemon:disabled,
.btn-cls2-orange:disabled,.btn-cls4-orange:disabled,.btn-cls6-orange:disabled,
.btn-cls2-def:disabled,.btn-cls4-def:disabled,.btn-cls6-def:disabled,
.btn-cls2-red:disabled,.btn-cls4-red:disabled,.btn-cls6-red:disabled,
.btn-cls2-tree:disabled,.btn-cls4-tree:disabled,.btn-cls6-tree:disabled,
.btn-cls4-sea:disabled,.btn-cls4-sea:disabled,.btn-cls6-sea:disabled {
   background:var(--theme-readonly-bg);
   color:#333;
   border:1px solid var(--border);
   cursor:not-allowed;
}

/* content */
.CompanyName {font-weight:400;color:var(--theme-fontcolor);font-family:Calibri,Verdana;text-align:center;font-weight:900;}
#closeNav {
   margin-left:5px;
   color:#fff;
}
#div_RSideBar {
   height:100%;
   width:250px;
   position: fixed;
   z-index: 1;
   top:80;
   left:0;
   background-color:#1c1d22;
   overflow-x: hidden;
   padding-top:5px;
}
a.mbar {
   color:#eee;
   font-weight:600;
   text-decoration:none;
   margin-right:5px;
}
a.mbar:hover {
   cursor:pointer;
   color:#fff;
   text-decoration:none;
}

#div_RSideBar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
#mainScreen {
   /*transition: margin-left .5s;*/
   margin-left: 250px;
}

.sideMenu {
   border-bottom:1px solid #454754;
   padding:10px;
   margin-bottom:0px;
   font-family:Segoe UI,Arial,Tahoma;
   font-weight:600;
   font-size:.9em;
   color:#dddddd;
   transition: all .3s ease 0s
}
.sideMenu:hover {
   background:#5c5f70;
   cursor:pointer;
   color:#ffffff;
   padding-left:20px;
}

.InfoMenu {
   /*background: var(--bgGray1);
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: linear-gradient(var(--bgGray1), var(--bgGray2));
   border:1px solid var(--border);*/
   border-bottom:1px solid var(--bgGray4);
   padding:5px;
   margin-bottom:0px;
   font-family:Segoe UI,Arial,Tahoma;
   font-weight:500;
   font-size:var(--fontSize);
   color:#111;
   transition: all .3s ease 0s
}
.InfoMenu:hover {
   /*
   background: var(--bgGray2);
   background: -webkit-linear-gradient(var(--bgGray2), var(--bgGray1));
   background: -o-linear-gradient(var(--bgGray2), var(--bgGray1));
   background: -moz-linear-gradient(var(--bgGray2), var(--bgGray1));
   background: linear-gradient(var(--bgGray2), var(--bgGray1));
   */
   background:#47484a;
   /*background: var(--bgGray1);
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2));
   background: linear-gradient(var(--bgGray1), var(--bgGray2));*/
   cursor:pointer;
   color:#ffffff;
   padding-left:15px;
   /*-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;*/
}

.pngIcons{
   width:30px;
   height:30px;
   margin-right:5px;
}

/*bootstrap alter*/
.nav-pills {padding:0px;}
.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
.row {
  margin-right: -5px;
  margin-left: -5px;
}
div[class*='col-xs'],
div[class*='col-sm'],
div[class*='col-md'],
div[class*='col-lg'] {
  padding-right: 5px;
  padding-left: 5px;
}

#divView {display:none;}
#RMS:hover {color:blue;cursor:pointer;}
#PIS:hover {color:blue;cursor:pointer;}

/*Data Tables*/
.dataTables tbody > td {
   padding:0px;
}
.gridRow {
   height: 20px;
   min-height: 20px;
}
.gridRow:hover {
   background-color:var(--border);
}

.mylabel {
   text-transform: uppercase;
   font-weight:600;
   font-size:var(--fontSize);
   vertical-align:bottom;
   padding:4px;
}

.elActive {
   background: var(--theme-panel-top-bg1);
   font-weight:600;
   color:#fff;
}

.bgSea {
   background: var(--theme-panel-top-bg1);
   background: -webkit-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2));
   background: -o-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2));
   background: -moz-linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2));
   background: linear-gradient(var(--theme-panel-top-bg1), var(--theme-panel-top-bg2));
   color:#ffffff;
}

.bgSilver {
   background: var(--bgGray1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray1), var(--bgGray2)); /* Standard syntax */
   color:#333;
}

.bgTree {
   background: var(--bgTree1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgTree1), var(--bgTree2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgTree1), var(--bgTree2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgTree1), var(--bgTree2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgTree1), var(--bgTree2)); /* Standard syntax */
   color:#ffffff;
}
.bgLite {
   background:var(--LiteBG);
   color:#111;
}
.bgTrans {
   background: transparent;
}
.entry201 {
   padding:5px;
   border:1px solid var(--border);
   margin-top:5px;
   background: var(--bgGray1); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray1), var(--bgGray2)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray1), var(--bgGray2)); /* Standard syntax */
   color:#333;
}
.entry201:hover {
   border:1px solid #333;
   background: var(--bgGray2); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray2), var(--bgGray3)); /* Standard syntax */
}

.colopt {
   border:1px solid transparent;
   transition: all 1s ease 0s;
}
.colopt:hover {
   border:1px solid #333;
   background: var(--bgGray2); /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(var(--bgGray2), var(--bgGray3)); /* For Firefox 3.6 to 15 */
   background: linear-gradient(var(--bgGray2), var(--bgGray3)); /* Standard syntax */
}

.form-label {
   text-align:right;
   font-size:var(--fontSize);
   font-weight:500;
}


/*MODAL CSS*/
.overlay {
    position:fixed;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    text-align:center;
}
.overflow {
   max-height: calc(100vh - 20%);
   overflow: auto;
   border:1px solid #fff;
}
.iframes {
   background:#ffffff;
   width:100%;
   height:97%;
   margin:0;
   padding:5px;
}
div[id*="tab"]{
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
   display:none;
}
.login {
   width:500px;
   padding:20px;
   margin:auto;
}
.wid10 {width:10%;}
.wid20 {width:20%;}
.wid50 {width:50%;}
.wid30 {width:30%;}
.wid40 {width:40%;}
.wid50 {width:50%;}
.clearflds-- {color:blue;}
/*
.saveFields-- {
   background:green;
}
*/
.fieldValue--{
   font-size:var(--fontSize);
   border:1px solid gray;
   padding:3px;
   font-weight:600;
}

tr.tbl_trHdr                 {font-weight:600;font-family: Arial,Verdana;font-size:12px;background-color:var(--theme-panel-top-bg2);text-align:center;color:#fff}
tr.tbl_trBody:nth-child(odd) {font-weight:500;font-family: Arial,Verdana;font-size:12px;background-color:#f2f2f2;color:#111;}
tr.tbl_trBody:nth-child(even){font-weight:500;font-family: Arial,Verdana;font-size:12px;background-color:#cccccc;color:#111;}
tr.tbl_trBody:hover          {background:#7b93a3;color:#fff;}
.tbl_trHdr > td {padding:8px;}
.tbl_trBody > td {padding:4px;}

.img-thumbnail {
   margin-bottom:10px;
}

i[class*="fa-caret"]:hover {
   cursor:pointer;
}

.img-thumbnail:hover {
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

@media (max-width: 1368px) {
   :root{
      --fontSize:9pt;
   }
   body {
      font-size:var(--fontSize);
   }
   .form-input {
      padding:1px;
      width:100%;
      background-color:#ffffff;
      border:1px solid #000;
      color:#000;
      font-size:var(--fontSize);


   }
   .form-disp {
      padding:1px;
      width:100%;
      background-color:#eeeeee;
      border:1px solid #000;
      color:#444;
      font-size:var(--fontSize);
      cursor:not-allowed;
   }
   .label, label {
      font-weight:400;
      color:#000;
      font-size:10pt;
      text-align:right;
   }
   .panel-top {
      padding:3px;
      padding-left:6px;
   }
   .margin-top {margin-top:1px;}
   .fieldValue--{
      font-size:var(--fontSize);
      border:0px solid gray;
      padding:1px;
      font-weight:500;
      color:#000;
   }
}

@media (max-width: 768px) {
   :root{
      --fontSize:9pt;
   }
   body {
      font-size:var(--fontSize);
   }
   .form-input {
      padding:0px;
      font-size:var(--fontSize);
   }
   .form-disp {
      padding:0px;
      font-size:var(--fontSize);
   }
   .label, label {
      font-weight:400;
      font-size:var(--fontSize);
   }
   .panel-top {
      padding:1px;
   }
   .margin-top {margin-top:1px;}
   .fieldValue--{
      font-size:var(--fontSize);
      border:0px solid gray;
      padding:0px;
      font-weight:500;
   }
}
